APP_NAME=BibliO API
APP_ENV=dev
APP_SECRET_KEY=change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=10080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=OSSEYI
DB_NAME=biblio

CORS_ORIGINS=http://localhost:3000

PENALTY_RATE_PER_DAY=0.50
